.jobs-main-container {
  background-color: #000000;
  height: max-content;
}
.bottom-section {
  display: flex;
  justify-content: space-between;
}
.jobs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
