.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-repeat: no-repeat;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  width: 80%;
  margin: 14px;
  border-radius: 10px;
}
.profile-img {
  margin: 15px;
  margin-bottom: none;
}
.usr-name {
  font-weight: bold;
  font-size: 20px;
  font-family: 'roboto';
  color: #000000;
  padding-left: 15px;
}
.user-bio {
  font-size: 14px;
  font-family: 'roboto';
  color: #000000;
  padding-left: 15px;
}
.profile-failure-container {
  width: 90%;
  background-color: white;
}
