.login-bg-container {
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .login-form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c364c;
    padding: 7px;
  }
  .login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label-name {
    width: 90%;
    font-weight: bold;
    font-family: 'roboto';
    color: #ffffff;
  }
  .name-input {
    width: 90%;
    background-color: transparent;
    border: 1px solid #64748b;
    height: 34px;
    margin-bottom: 14px;
    color: #ffffff;
  }
  .login-button {
    background-color: #4f46e5;
    height: 34px;
    width: 90%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 7px;
    cursor: pointer;
  }
  .website-logo {
    height: 60px;
    width: 100px;
    margin: 5px;
  }
  .error-message {
    font-weight: bold;
    font-size: 12px;
    font-family: 'roboto';
    color: red;
  }
}
@media screen and (max-width: 767px) {
  .login-form-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c364c;
    padding: 7px;
  }
  .login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label-name {
    width: 90%;
    font-weight: bold;
    font-family: 'roboto';
    color: #ffffff;
    font-size: 14px;
  }
  .name-input {
    width: 90%;
    background-color: transparent;
    border: 1px solid #64748b;
    height: 34px;
    margin-bottom: 14px;
    color: #ffffff;
  }
  .login-button {
    background-color: #4f46e5;
    height: 34px;
    width: 90%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 7px;
    cursor: pointer;
  }
  .website-logo {
    height: 60px;
    width: 100px;
    margin: 5px;
  }
  .error-message {
    font-weight: bold;
    font-size: 12px;
    font-family: 'roboto';
    color: red;
  }
}
