.jobs-details-container {
  width: 70%;
  margin-top: 20px;
  margin-right: 12px;
}
.profile-container {
  width: 30%;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-input {
  width: 90%;
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #ffffff;
}
.input-container {
  width: 90%;
  border: 1.5px solid #7e858e;
  height: 34px;
}
.search-icon-button {
  height: 100%;
  border: none;
  background-color: #7e858e;
  width: 10%;
  cursor: pointer;
}
.search-icon {
  font-size: 20px;
}
.failure-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.failure-img {
  height: 190px;
  width: 240px;
}
.failure-heading {
  font-size: 27px;
  font-weight: bold;
  font-family: 'roboto';
  color: white;
}
.failure-description {
  font-size: 17px;
  font-weight: bold;
  font-family: 'roboto';
  color: white;
}
.retry-button {
  border: none;
  border-radius: 7px;
  height: 34px;
  width: 90px;
  background-color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}
.jobs-cards-container {
  width: 100%;
}
.no-jobs-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  margin-top: 24px;
}
.no-jobs-image {
  height: 200px;
  width: 270px;
}
.no-jobs-heading {
  font-weight: bold;
  font-size: 24px;
  color: white;
  font-family: 'roboto';
}
.no-jobs-description {
  font-weight: bold;
  font-size: 15px;
  color: white;
  font-family: 'roboto';
}
.horizontal-lines {
  width: 87%;
  margin-right: auto;
}
